.lightgraybg{
	background-color: lightgray;
}
.navbar-text > a > p {
    color: blue;
    text-decoration: none;
}
html {
	position: relative;
	min-height: 100%;
	min-width: 100% !important;
}

html, body {
	margin: 0 0 0 0px; /* bottom = footer height */ 
    padding-bottom: 100px;
    min-width: 100% !important;
}

.navbar-fixed-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 170px;
    min-width: 101% !important;
    overflow: visible;
    background: url(http://i.imgur.com/LbUnZvP.png) repeat;
    background-size: cover;
    background-position: center;
    border: 0;
   }

.navbar-text {
	padding-top: 110px;
	padding-left: 20px;
}

.navbar-icons {
	padding-top: 120px;
	padding-right: 100px;
}
/*p.title{
	margin-top: -10px;
}*/

