.lightgraybg{
    background-color: lightgray;
}

.footer-text > a > p {
    color: blue;
    text-decoration: none;
}

html {
    position: relative;
    min-height: 100%;
    min-width: 100% !important;
}

html, body {
    margin: 0 0 0 0px; /* bottom = footer height */ 
    padding-bottom: 130px;
    min-width: 100% !important;
}

.navbar-fixed-bottom {
    position: absolute;
    /*
    bottom: 0;
    right: 0;
    left: 0;*/
    height: 170px;
    min-width: 100% !important;
    overflow: visible;
    /*background: url(http://i.imgur.com/Q9I4bnC.png) repeat; ->deprecated*/
    background: url(http://i.imgur.com/0ivteuO.png) repeat;
    background-size: cover;
    background-position: center;
    border: 0;
   }

.footer-text {
    padding-top: 80px;
    padding-left: 20px;
}
.footer-text-c {
    padding-top: 140px;
    padding-left: 20px;
    color: #fff;
}

.footer-icons {
    padding-top: 120px;
    padding-right: 100px;
}
.glyphcollapse {
    color: #999;
}
.collapserow {
    background-size:100%;
    background-color:#eee;
}
.glyphvoted {
    color: #f55;
}
.margin-l-5 {
    margin-left: 5px;
}
.notif{
    position: fixed;
    overflow: auto;
    display: block;
    /*border: 1px solid;*/
    /*background-color: #fff;*/
    padding: 5px;
    z-index: 1;
    top: 55px;
    left: 50%;
    width: 300px;
    max-height: 300px;
    background-color:#eee;
}
.notif_li{
    height: 50px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 0px;
}
.notif_li:hover{
    background-color:#ddd;
}
.notif_ul{
    /*display:inline;*/
    list-style: none; /*-type*/
    margin: 0px;
    padding: 0px;
}