<div class="container-fluid animated fadeIn"  align="center">
	<div class="row">
	
	
		<div class="col-md-3">
		</div>
		
		
		<div class="col-md-6 well well-lg">
			<div class="row">
			<h2>Fill in this form to sign up</h2><br />
			<form name="signup" class="form-horizontal" style="width:250px;">
			
				<div class="row">
					<h4>Username:</h4>
				</div>
				<div class="row form-group has-feedback {{vm.check.usernameHas}}" >
					<div class="col-md-12">
						<input type="text" class="form-control" name="username" ng-model="vm.user.username" ng-change="vm.changeUsername();" >
						<span ng-class="{'form-control-feedback glyphicon glyphicon-remove':vm.check.username==1}"></span>
						<span ng-class="{'form-control-feedback glyphicon glyphicon-ok':vm.check.username==2}"></span>
					</div>
				</div>
				
				<div class="row">
					<h4>Email:</h4>
				</div>
				<div class="row form-group has-feedback {{vm.check.emailHas}}" >
					<div class="col-md-12">
						<input type="text" class="form-control" ng-model="vm.user.email" ng-change="vm.changeEmail();" >
						<span ng-class="{'form-control-feedback glyphicon glyphicon-remove':vm.check.email==1}"></span>
						<span ng-class="{'form-control-feedback glyphicon glyphicon-ok':vm.check.email==2}"></span>
					</div>
				</div>
				
				<div class="row">
					<h4>Password: </h4> 
				</div>
				<div class="row form-group has-feedback {{vm.check.passwordHas}}" >
					<div class="col-md-12">
						<input type="password" class="form-control" ng-model="vm.user.password" ng-change="vm.changePassword();" placeholder="Minimum 6 charachers" >
						<span ng-class="{'form-control-feedback glyphicon glyphicon-remove':vm.check.password==1}"></span>
						<span ng-class="{'form-control-feedback glyphicon glyphicon-ok':vm.check.password==2}"></span>
					</div>
				</div>
				
				<div class="row">
					<h4>Repeat password: </h4>
				</div>
				<div class="row form-group has-feedback {{vm.check.retypeHas}}">
					<!--ng-class="{'has-error':vm.check.retypePassword==1,'has-success':vm.check.retypePassword==2}">-->
					<div class="col-md-12">
						<input class="form-control" type="password" ng-model="vm.user.retypePassword" ng-change="vm.changeRetype();" />
						<span ng-class="{'form-control-feedback glyphicon glyphicon-remove':vm.check.retypePassword==1}"></span>
						<span ng-class="{'form-control-feedback glyphicon glyphicon-ok':vm.check.retypePassword==2}"></span>
					</div>
				</div>
	
				<br />
				<div class="row">
					<button class="btn" ng-class="vm.check.complete ? 'btn-success' : 'btn-warning'" ng-disabled="!vm.check.complete"
						 ng-click="vm.signUp();">Sign up</button>
				</div>
				
			</form>	
			</div>
		</div>
		
		<div class="col-md-3">
		</div>
		
		
	</div>
</div>
		
