<div class="container-fluid">
	<div class="row">
		<div class="well well-sm pull-left col-md-1" > <!--style="width:3%"-->
			<center>
				<div class="glyphicon glyphicon-menu-up" role="button" ng-click="vm.toggleVote(vm.problem,1)" ng-class="{'glyphvoted':vm.problem.voted==1}"></div>
				<div>{{vm.problem.votepositive-vm.problem.votenegative}}</div>
				<div class="glyphicon glyphicon-menu-down" role="button" ng-click="vm.toggleVote(vm.problem,-1)" ng-class="{'glyphvoted':vm.problem.voted==-1}"></div>
			</center>
		</div>
				
		<div class="well well-sm pull-left col-md-11" >  <!-- missing: mark, picture style="width:97%;"-->
			<div>
				<img ng-src="{{vm.problem.turl}}" ng-click = "vm.openImg($index)"/>
			</div>
			<p class="title">
				<a href="#/problem/{{problem.idproblem}}">
					{{vm.problem.text}}
				</a>
				</p>
				<p>Location: {{vm.problem.address}}</p>
				<p>Category: {{vm.problem.ctgname}}<span style="float: right">Submitted by <a href="/user/{{vm.problem.iduser}}">{{vm.problem.username}}</a> on {{vm.problem.created}}<span></p>
				<p>
					<h6>
						<a href="">Report</a>
					</h6>
				</p>
		</div>
	</div>
	
	<div class="row" ng-repeat="comment in vm.problem.comments">
	
		<div class="col-md-3">
		</div>
		
		<div class="col-md-9 well well-sm">
			{{comment.text}} by {{comment.username}} on {{comment.created}}
		</div>
	</div>
	
	<div class="row">
	
		<div class="col-md-3">
		</div>
		
		<div class="col-md-9 well well-sm">
		
			<div class="row col-md-12">
				Reply: <small>(required)</small>
			</div>
			
			<div class="row">
				<div class="col-md-6">
				<textarea style="height:100px;width:400px;" class="form-control" placeholder="Type your comment here" ng-model="vm.textcomment"></textarea>
				</div>
				<div class="col-md-6">
					<b>Comment image:</b> <small>(optional)</small>
					<br />
					<!--
					<input type="file" ng-disabled="1" />
					-->
					<input type="file" class="btn" ng-class="{'btn-success':vm.file !== undefined, 'btn-warning':vm.file == undefined}" 
						ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'"
						ngf-accept="'image/*'" ngf-max-size="9MB" ngf-min-height="100" style="max-width:100%;"/>
				</div>
			</div>
		
			<div class="row col-md-12">
				<br />
				<!--
				<input type="button" value="Comment" ng-disabled="!vm.textcomment || !vm.user" ng-if="!vm.sent" ng-click="vm.submitComment()" />
				<span ng-if="vm.sent">Comment sent!</span>
				-->
				<input class="btn" ng-class="{'btn-success':(vm.textcomment),'btn-warning':(!vm.textcomment)}"
						type="submit" value="  Submit  " ng-disabled="(!vm.textcomment) || (role<=1) || (!authenticated)" ng-click="vm.submitComment()" ng-if="vm.sent==0" />
				<span ng-if="vm.sent==1">Uploading...</span><span ng-if="vm.sent==-1">Failed to comment</span><span ng-if="vm.sent==2">Comment sent!</span>
			</div>
			
			
		</div>
		
		
	</div>
	
</div>