<div ng-controller="navbarController as navbar">
	<nav class="navbar navbar-inverse navbar-fixed-top animated fadeIn"> 
		<div class="container">		
			<!--
			<div class="nav navbar-header">		
				<a href="#" class="navbar-brand">FixYourCity</a>
			</div>
			-->
			<ul class="nav navbar-nav" style="width:100%;">
				
				<li class="navbar-header">
					<a href="#" class="navbar-brand">FixYourCity</a>
				</li>
				
				<li class="" ng-repeat="tab in navbar.tabs"  ng-bind-html="navbar.renderTab(tab)">
				</li>

				<li class="navbar-right navbar-form" ng-if="(!authenticated)"> <!--  navbar-left -->
					<input class="form-control" style="background-color:#eee" type="text" placeholder="Email" name="username" ng-model="navbar.email">
					<input class="form-control" style="background-color:#eee" type="password" placeholder="Password" name="pasword" ng-model="navbar.password">
					<button type="submit" class="btn btn-default" ng-click="navbar.login();" ng-disabled="(navbar.email=='') || (navbar.password=='')">Log in</button>
				</li>
				
				<li class="navbar-right" ng-if="(!authenticated)">
					<button type="button" class="navbar-btn btn btn-info" ng-click="navbar.signUp();">Sign up!</button>
				</li>
				
				<li class="navbar-right" ng-if="(authenticated)">
					<button type="button" class="navbar-btn btn btn-default" ng-click="navbar.logout();">Log out</button>
				</li>
				
				<li class="navbar-right" ng-if="(authenticated)">
					<p class="navbar-text">{{userName}} <span class="glyphicon glyphicon-user" style="color:#aaa"></span></p>
					<!-- WORKING but with too much spaces -- <div class="glyphicon glyphicon-cog navbar-btn btn" style="color:#eee"></div> -->
				</li>
				
				<li class="navbar-right" ng-if="(authenticated)">
				
					<div class="notification.exists" ng-show="(!navbar.seen)" ng-style="{'color': 'red'}" ng-click="navbar.seenNotifications();">
						<div class=" glyphicon glyphicon-bullhorn navbar-btn btn" style="color:#bbb">
						<span class="badge" style="margin-top:-20px;margin-left:-17px;background-color:#f33">{{ navbar.numberOfNotifications }}</span></div>
					</div>
					
					<div class="notification.default" ng-show="(navbar.seen)" ng-click="navbar.showNotifs();">
						<div class=" glyphicon glyphicon-bullhorn navbar-btn btn" style="color:#bbb"></div>
					</div>
					
				</li>
				
				<li class="navbar-right" ng-if="(role==4)">
					<button type="button" class="navbar-btn btn btn-info" ng-click="navbar.goPath('admin page');">Admin panel</button>
				</li>
				
			</ul> 
			
		</div>
	</nav>
	
	<div class="container-fluid notif well well-sm animated fadeIn" ng-if="navbar.notifshow && authenticated">
		<div class="">
		<ul class="notif_ul">
			<li ng-if="!navbar.notifications[0]">No new notifications</li>
			<li class="notif_li" role="button" ng-repeat="notification in navbar.notifications | orderBy: lastactivity" ng-click="navbar.goPath('problem',notification.idproblem);">
				<div class="">{{notification.text}}</div>
				<div class=""><span style="font-size:10px;">City: {{notification.cityname}} | Category: {{notification.ctgname}}</span></div>
			</li>
		</ul>
		</div>
	</div>
</div>