<nav class="navbar navbar-default" ng-controller="navbarController as navbar"> 
	<div class="container-fluid">		
		<div class="navbar-header">		
		
			<ul class="nav nav-pills">
				<li class="active" ng-repeat="tab in navbar.tabs"  ng-bind-html="navbar.renderTab(tab)"></li>
			</ul>
			
			<div class="login col-md-2" ng-if="(!authenticated)">
			<button type="button" class="btn btn-info"  ng-click="navbar.login();">Login</button>
			</div>
			<div class="signup col-md-2" ng-if="(!authenticated)">
				<button type="button" class="btn btn-info"  ng-click="navbar.signUp();">Sign up!</button>
			</div>
			<div class="logout col-md-2" ng-if="(authenticated)">
				<button type="button" class="btn btn-info"  ng-click="navbar.logout();">Log out</button>
			</div>				
			<div class="username col-md-2" ng-if="(authenticated)">
				{{ userName }}		
		</div>
	</div>
</nav>