<div class="container-fluid">
	<div class="row">
	
	
		<div class="col-md-2">
		</div>
		
		
		<div class="col-md-8 well well-lg animated fadeIn">
		
			<div class="row">
				<center>
					<h4>You are reporting issue for '{{vm.city.cityname}}, {{vm.city.state}}' in category '{{vm.category.ctgname}}'<h4>
				</center>
				<hr />
			</div>
			
			<div class="row">
				<div class="col-md-6">
				
					<b>Issue image:</b> <!-- make it required? -->
					<br />
					<!-- <img ngf-thumbnail="file || '/thumb.jpg'"> -->
					<input type="file" class="btn" ng-class="{'btn-success':vm.file !== undefined, 'btn-warning':vm.file == undefined}" 
						ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'"
						ngf-accept="'image/*'" ngf-max-size="9MB" ngf-min-height="100" style="max-width:100%;"/>
					<br />
					
					<b>Location:</b> (required)
					<br />
					<input type="text" class="form-control" placeholder="Enter street name" ng-model="vm.address"/>
					
				</div>
				
				<div class="col-md-6">
				
					<b>Description:</b>
					<br />
					<textarea  style="height: 100px;" class="form-control" placeholder="Problem description" ng-model="vm.text" ></textarea>
				
				</div>
				
			</div>
			
			<div class="row">
				<hr />
				<center>
					<!-- (vm.file !== undefined) &&  /////  vm.file == undefined || -->
					<input class="btn" ng-class="{'btn-success':(vm.address),'btn-warning':(!vm.address)}"
						type="submit" value="  Submit  " ng-disabled="(!vm.address) || (role<=1) || (!authenticated)" ng-click="vm.submitissue()" ng-if="vm.sent==0" />
					<h3><span ng-if="vm.sent==1">Uploading...</span><span ng-if="vm.sent==-1">Failed to upload</span><span ng-if="vm.sent==2">Issue successfully reported!</span></h3>
				</center>
			</div>
			
			
		</div>
		
		
		<div class="col-md-2">
		</div>
		
	
	
	</div>
	
	<div class="row">
	
	</div>



</div>