<div class="nav col-md-12">
    <ul class="nav nav-tabs">
    <li role="presentation" ><a href="" ng-click="vm.renderParts('searchUser');">Users</a></li>
    <li role="presentation"><a href="" ng-click="vm.renderParts('feedback');">Feedback</a></li>
    <li role="presentation"><a href="" ng-click="vm.renderParts('feedback');">Feedback</a></li>
    <li role="presentation"><a href="" ng-click="vm.renderParts('feedback');">Feedback</a></li>
    </ul>
</div>
<div class="col-md-10" ng-switch="vm.chosenPart">
    <div class="user" ng-switch-when="searchUser">
        <div class="row">
            <div class="col-md-12">
                Username: <input type="text" name="user" ng-model="vm.user.username">
                Email: <input type="text" name="email" ng-model="vm.user.email">
                Accesslevel: <input type="number" name="accesslevel" ng-model="vm.user.accesslevel">
            </div>
        </div>
        <div class="row">
            <table class="col-md-12" border="1">
                <tr>
                    <th>username</th><th>email</th><th>accesslevel</th>
                </tr>
                <tr ng-repeat="user in vm.usersReturned | limitTo: 5" ng-click="vm.choseUser(user);"
                    ng-class="{'lightgraybg':user.iduser === vm.userChosed.iduser}">
                    <td>{{ user.username }}</td><td>{{ user.email }}</td>
                    <td>{{ user.accesslevel }}</td>
                </tr>
            </table>
            <button type="button" class="btn btn-success" ng-disabled="vm.userChosed==''"
                ng-click="vm.renderParts('banUser');">Go {{  vm.userChosen.username }}!
            </button>
        </div>
    </div>
    <div class="banUser" ng-switch-when="banUser">
        <div class="row">
            <div class="col-md-2">
                Username
            </div>
            <div class="col-md-2">
                Email
            </div>
            <div class="col-md-2">
                accesslevel
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ vm.userChosed.username }}
            </div>
            <div class="col-md-2">
                {{ vm.userChosed.email }}
            </div>
            <div class="col-md-2">
                {{ vm.userChosed.accesslevel }}
            </div>
        </div> <br><br>
        <div class="row">
            Are you sure you wanna ban this user?
            <div class="col-md-5">
                <button type="button" class="btn btn-info" ng-click="vm.renderParts('searchUser');">
                    Go back</button>
                <button type="button" class="btn btn-warning">Temporary ban</button>
                <button type="button" class="btn btn-danger" ng-click="vm.banUser(0);">Ban!</button>
            </div>
        </div>
    </div>
</div>