<div class="container-fluid">
	<div class="nav row col-md-12">
		<ul class="nav nav-tabs">
		<li role="presentation" ><a href="" ng-click="vm.renderParts('searchUser');">Users</a></li>
		<li role="presentation"><a href="" ng-click="vm.renderParts('city');">City suggestions</a></li>
		<li role="presentation"><a href="" ng-click="vm.renderParts('category');">Category suggestions</a></li>
		<li role="presentation"><a href="" ng-click="vm.renderParts('promote');">CR requests</a></li>
		</ul>
	</div>


	<div class="row col-md-12" ng-switch="vm.chosenPart">


		<div class="user animated fadeIn" ng-switch-when="searchUser">
			<br />
			
			<div class="row">
				
				<form class="col-md-12" name="searchParameters">
					<div class="col-md-3">
						 Username:<br /><input class="form-control" type="text" name="user" ng-model="vm.user.username" 
							ng-change="vm.returnUsers(vm.user);">
					</div>
					<div class="col-md-3">
						Email:<br /><input class="form-control" type="text" name="email" ng-model="vm.user.email"
							ng-change="vm.returnUsers(vm.user);">
					</div>
					<div class="col-md-3">
						Accesslevel:<br /><input class="form-control" type="number" max="4" min="2"  name="accesslevel" ng-model="vm.user.accesslevel"
							ng-change="vm.returnUsers(vm.user);">
					</div>
                    <!--<div class="col-md-3"  role="alert">
                        <span class="error" ng-show="searchParameters.vm.user.accesslevel.$error.minlength">
                            Too short!</span>
                        <span class="error" ng-show="searchParameters.vm.user.accesslevel.$error.maxlength">
                            Too long!</span>
                    </div>-->
					<div class="col-md-3">
						Ban status:
						<div class="radio">
							<label><input type="radio" name="banned" ng-model="vm.user.bannedString"
								value="-1" ng-change="vm.returnUsers();">Any</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="banned" ng-model="vm.user.bannedString"
								value="temporary" ng-change="vm.returnUsers();">Temporary</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="banned" ng-model="vm.user.bannedString"
								value="pernamently" ng-change="vm.returnUsers();">Pernament</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="banned" ng-model="vm.user.bannedString"
								value="No" ng-change="vm.returnUsers();">Not banned</label>
						</div> 
					</div>
				</form>
				
			</div><br /><br />
			
			<div class="row">
				<table class="col-md-12 table table-striped"  ng-show="vm.usersReturned[0]">
					<tr>
						<th> Username</th><th> Email</th><th> Accesslevel</th><th> Banned</th>
					</tr>
					<tr class="animated fadeIn" ng-repeat="user in vm.usersReturned | limitTo: 5" ng-click="vm.choseUser(user);"
						ng-class="{'success':user.iduser === vm.userChosed.iduser}"> <!-- CHOSED's first appearance -->
						<td>{{ user.username }}</td><td>{{ user.email }}</td>
						<td>{{ user.accesslevel }}</td><td>{{ user.bannedString }}</td>
					</tr>
				</table>
			</div>
            <div class="row animated fadeIn" ng-if="!vm.usersReturned[0] && vm.initalState">
                <div class="col-md-12" align="center">
                        <h2>There are no users under given search parameters, try another</h2>
                </div>
            </div><br>
			
			<div class="col-md-10 animated fadeIn"></div>
			<button type="button" class="btn" ng-disabled="!vm.userChosed" ng-show="vm.usersReturned[0]"
				ng-click="vm.renderParts('banUser');" ng-class="{'btn-success':(vm.userChosed),'btn-warning':(!vm.userChosed)}">Make actions</button>
			
		</div>
		
		
		<div class="banUser animated fadeIn" ng-switch-when="banUser">
            <div class="well well-md">
                <div class="row">
                    <div class="col-md-12">
                        <span ng-show="vm.userChosed.bannedString!='No'" style="color: red;"><h3>This user is banned</h3></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h3>Username</h3>
                    </div>
                    <div class="col-md-2">
                        <h3>Email</h3>
                    </div>
                    <div class="col-md-2">
                        <h3>Accesslevel</h3>
                    </div>
                    <div class="col-md-2">
                        <h3>Banned</h3>
                    </div>
                    <div class="col-md-4">
                        <button type="button " class="btn btn-primary"
                            ng-click="vm.promoteUser(-1);" ng-disabled="vm.userChosed.accesslevel<=2">Demote user</button>
                        <button type="button" class="btn btn-primary"
                            ng-click="vm.promoteUser(+1);" ng-disabled="vm.userChosed.accesslevel>=4">Promote user</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        {{ vm.userChosed.username }}
                    </div>
                    <div class="col-md-2">
                        {{ vm.userChosed.email }}
                    </div>
                    <div class="col-md-2">
                        {{ vm.userChosed.accesslevel }}
                    </div>
                    <div class="col-md-2">
                        {{ vm.userChosed.bannedString }}
                    </div>
                    <div class="col-md-4">              
                    </div>
                </div> <br /> <br />
            </div>
			
			<div class="row">
			
				<div class="col-md-3">
					<button type="button" class="btn btn-info" ng-click="vm.renderParts('searchUser');">
						Go back</button>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6" ng-if="vm.userChosed.bannedString=='No'">
                        <button type="button" class="btn btn-warning" ng-click="vm.banUser(vm.temporaryBanTime);">
                            Temporary ban</button>
                        <button type="button" class="btn btn-danger" ng-click="vm.banUser(0);">Pernament ban</button>      
                        <div class="input-group" style="width:250px">
                            <span class="input-group-addon" id="days-addon">Days</span>
                            <input type="text" class="form-control" ng-model="vm.temporaryBanTime.days">
                            <span class="input-group-addon" id="hours-addon">Hours</span>
                            <input type="text" class="form-control" ng-model="vm.temporaryBanTime.hours">
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="vm.userChosed.bannedString!='No'">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success pull-rigth" ng-click="vm.banUser(-1);" ng-hide="vm.userChosed.bannedString=='No'">
                            Unban user</button>
                    </div>
				
                </div>
            </div>
			
			<br />
			<div class="row">
			    <div class="col-md-4">
                </div>
				
				<div class="col-md-4">
				</div>
				
			</div>
			
		</div>
		
		
		<div class="aproveCategory animated fadeIn" ng-switch-when="category">
			<table class="table table-striped">
				<tr>
					<th>Category name</th><th>Username</th><th>Add category</th><th>Remove category</th>
				</tr>
				<tr class="fadeIn" ng-repeat="category in vm.categories">
					<td>{{ category.suggestcategoryname }}</td><td>{{ category.username }}</td>
					<td><input type="radio" name="{{ category.idsuggestcategory }}" ng-click="vm.addCategory(category, true);"></td>
					<td><input type="radio" name="{{ category.idsuggestcategory }}" ng-click="vm.addCategory(category, false);"></td>
				</tr>
			</table>
			<button type="button" class="btn" ng-click="vm.saveCategories();" ng-disabled="!vm.categoriesToAdd[0]" 
				ng-class="{'btn-success':(vm.categoriesToAdd[0]),'btn-warning':(!vm.categoriesToAdd[0])}">Submit</button>
		</div>
		
		
		<div class="animated fadeIn" ng-switch-when="city">
			<table class="table table-striped">
				<tr>
					<th>City name</th><th>State</th><th>Suggesting user</th><th>Select for approval</th><th>Select for removal</th>
				</tr>
				<tr class="fadeIn" ng-repeat="city in vm.cities">
					<td>{{ city.suggestcityname }}</td><td>{{city.suggeststatename}}</td><td>{{ city.username }}</td>
					<td><input type="radio" name="{{ city.idsuggestcity }}" ng-click="vm.addCity(city, true);"></td>
					<td><input type="radio" name="{{ city.idsuggestcity }}" ng-click="vm.addCity(city, false);"></td>
				</tr>
			</table>
			<button type="button" class="btn" ng-click="vm.saveCities();" ng-disabled="!vm.changecities[0]" 
				ng-class="{'btn-success':(vm.changecities[0]),'btn-warning':(!vm.changecities[0])}">Submit</button>
		</div>
		
		<div class="animated fadeIn" ng-switch-when="promote">
			<table class="table table-striped">
				<tr>
					<th>Username</th><th>City name, State</th><th>Request text</th><th>Select for approval</th><th>Select for removal</th>
				</tr>
				<tr class="fadeIn" ng-repeat="rep in vm.cr">
					<td>{{ rep.username }}</td><td>{{rep.cityname}}, {{ rep.state}}</td><td class="col-md-3";>{{ rep.text }}</td>
					<td><input type="radio" name="{{ rep.idsuggestcr }}" ng-click="vm.addRep(rep, true);"></td>
					<td><input type="radio" name="{{ rep.idsuggestcr }}" ng-click="vm.addRep(rep, false);"></td>
				</tr>
			</table>
			<button type="button" class="btn" ng-click="vm.saveRep();" ng-disabled="!vm.changerep[0]" 
				ng-class="{'btn-success':(vm.changerep[0]),'btn-warning':(!vm.changerep[0])}">Submit</button>
		</div>
		
	</div>
</div>